# mysql credentials
MYSQL_IMAGE=oraclelinux9
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=bd1_trabajo
MYSQL_USER=usuario
MYSQL_PASSWORD=userpassword

# postgres credentials
POSTGRES_IMAGE=latest
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433
POSTGRES_DB=bd1
POSTGRES_USER=bd1_user
POSTGRES_PASSWORD=password